<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:700px;" th:object="${form}">
    <input type="hidden" name="menuId" th:value="*{menu.id}" />
    <div class="form-group">
        <label th:for="cheeseId">Cheeses</label>
        <select class="form-control" th:field="*{cheeseId}">
            <option th:each="cheese : ${form.getCheeses()}" th:value="${cheese.id}" th:text="${cheese.name}" />
        </select>
        <span th:errors="*{cheeseId}" class="error"></span>
    </div>

    <input type="submit" value="Add Cheese to Menu" />
</form>

</body>
</html>